@charset "UTF-8";

.grid-container {
    display: grid;
    grid-template-columns: auto 1fr;
}

.texto {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.titulo {
    height: 70px;
}

.descricao {
    height: 400px;
    overflow-y: auto;
}

.foto {
    height: 500px;
}

.adm {
    height: 30px;
    text-align: center;
    vertical-align: bottom;
}

@media (min-width:768px) {
    .grid-container {
        display: grid;
        grid-template-rows: auto auto;
    }

    .descricao {
        height: auto;
        overflow-y: unset;
    }

}