@charset "UTF-8";
@import url(botões.css);
@import url(formulário.css);

header {
    color: var(--cor-fundo);
    background-color: var(--cor-primaria);

    padding: 10px 10px 10px 10px ;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    z-index: 1;
}