@charset "UTF-8";

@import url(anchor.css);
@import url(button.css);
@import url(colors.css);
@import url(footer.css);
@import url(form.css);
@import url(header.css);
@import url(main.css);
@import url(media-query.css);
@import url(message.css);
@import url(table.css);
@import url(user-info.css);

*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
    font-family: var(--fonte-principal);
}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    color: var(--cor-texto);
    background-color: var(--cor-fundo);
}

.mini {
    width: auto;
    height: 100px;
}

.foto {
    height: 300px;
    margin: auto;
}

.flex-column {
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.flex-row {
    display: flex;
    gap: 5px;
    flex-direction: row;
}



span {
    position: relative;
    top: 5px;
}

.inline-block {
    display: inline-block;
}