@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import url(table.css);
/* CSS Document */
:root {
    --cor-primaria-claro: #5366F5;
    --cor-primaria-escuro: #616475;
    --cor-secundaria-claro: #90F551;
    --cor-secundaria-escuro: #697562;
    --cor-terciaria-claro: #F57E51;
    --cor-terciaria-escuro: #A0796A;
    --cor-fundo-claro: #E1E1E6;
    --cor-fundo-escuro: #343536;
    --cor-texto-claro: #000000;
    --cor-texto-escuro: #FFFFFF;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body {
    background-color: white;
    color: var(--cor-texto-claro);
    transition: all 0.3s ease-in-out;
    height: 100vh;
    width: 100vw;
}

header {
    background-color: var(--cor-primaria-claro);
    color: var(--cor-texto-claro);
    padding: 10px 20px;
    text-align: center;
}
main {
    background-color: var(--cor-fundo-claro);
    padding: 20px;
    min-width: 480px;
    max-width: 90vw;
    min-height: 90vh;
    margin: auto;
}

footer {
    background-color: var(--cor-primaria-claro);
    color: var(--cor-texto-claro);
    text-align: center;
    padding: 10px 20px;
    bottom: 0;
    width: 100%;
}
section {
    background-color: var(--cor-fundo-claro);
    margin-bottom: 20px;
    border: 1px solid var(--cor-primaria-escuro);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

div.margin {
    margin: 20px;
}