@charset "UTF-8";
@import url(table.css);
@import url(article.css);
@import url(flex.css);
@import url(classes.css);
@import url(grid.css);
/* CSS Document */
:root {
    --cor-primaria-claro: #5366F5;
    --cor-primaria-escuro: #616475;
    --cor-secundaria-claro: #90F551;
    --cor-secundaria-escuro: #697562;
    --cor-terciaria-claro: #F57E51;
    --cor-terciaria-escuro: #A0796A;
    --cor-fundo-claro: #E1E1E6;
    --cor-fundo-escuro: #343536;
    --cor-texto-claro: #000000;
    --cor-texto-escuro: #FFFFFF;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: var(--cor-texto-claro);
    transition: all 0.3s ease-in-out;
    min-height: 100vh;
}

header {
    background-color: var(--cor-primaria-claro);
    color: var(--cor-texto-claro);
    padding: 10px 20px;
    text-align: center;
    margin-bottom: 30px;
}
main {
    background-color: var(--cor-fundo-claro);
    min-width: 480px;
    max-width: 90%;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

footer {
    background-color: var(--cor-primaria-claro);
    color: var(--cor-texto-claro);
    text-align: center;
    padding: 10px 20px;
    width: 100%;
    margin-top: 30px;
}
section {
    background-color: var(--cor-fundo-claro);
    margin-bottom: 20px;
    border: 1px solid var(--cor-primaria-escuro);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
    margin: auto;
    background-color: var(--cor-primaria-claro);
    color: var(--cor-texto-claro);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--cor-terciaria-claro);
}

div header {
    text-align: center;
    margin: 0px;
    padding: 10px;
    height: 50px;
    color: var(--cor-primaria-claro);
}

div header h3 {
    color: var(--cor-texto-claro);
}

img {
    text-align: center;
}