@charset "UTF-8";

table.listagem {
    width: 100%;
    text-align: left;
}
/* Remover espaçamento entre células */
table.listagem {
    border-collapse: collapse;
    border-spacing: 0;
}

table.listagem tr {
    height: 100px;
}

table.listagem td {
    border: 1px solid #ddd;
    padding: 10px;
}

table.listagem tr:nth-child(even) {
    background-color: var(--cor-table-fundo-alternativo);
}

table.listagem td:first-child { /* pode ser nth-child(1) */
    width: 130px;
    text-align: center;
}

table.listagem td:nth-child(3) {
    width: 90px;
    text-align: center;
}

table.detalhes {
    width: 100%;
}

table h2, h3 {
    font-size: 1.1em;
    margin: 0;
    padding: 0;
    line-height: 1.1em;
}

table h3 {
    font-size: 0.9em;
}