@charset "UTF-8";

header {
    color: var(--cor-fundo);
    background-color: var(--cor-primaria);

    padding: 10px 10px 10px 10px ;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 1;
}