@charset "UTF-8";

header {
    background-color: var(--cor-primaria);
    color: var(--cor-fundo);
    text-align: center;
    padding: 10px;
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 1;
    left: 0px;
}