@charset "UTF-8";

@import url(table.css);
@import url(cores.css);
@import url(media-query.css);

html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    box-sizing: border-box;
    font-family: var(--fonte-principal);
}

body {
    color: var(--cor-texto);
    background-color: var(--cor-fundo);
    width: 100vw;
    height: 100vh;
}

header, footer {
    background-color: var(--cor-primaria);
    color: var(--cor-fundo);
    text-align: center;
    padding: 10px 0px;
}

header {
    position: sticky;
    top: 0px;
    z-index: 1;
    width: 100%;
}

main {
    padding: 2px;
    height: calc(100vh - 250px);
    margin-bottom: 160px; /* Espaço para o footer fixo, pode ser redundante */
}

footer {
    position: fixed;
    margin-top: 50px;
    bottom: 0px;
    left: 0px;
    width: 100%;
}
