@charset "UTF-8";

@import url(cores.css);
@import url(main.css);
@import url(ancora.css);
@import url(formulário.css);
@import url(media-query.css);
@import url(mensagem.css);
@import url(table.css);

*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
    font-family: var(--fonte-principal);
}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    color: var(--cor-texto);
    background-color: var(--cor-fundo);
}

.mini {
    width: auto;
    height: 100px;
}

.foto {
    height: 300px;
    margin: auto;
}

.flex-column {
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.flex-row {
    display: flex;
    gap: 5px;
    flex-direction: row;
}

a.botão {
    color:white;
    background-color: var(--cor-secundaria);
    margin: 10px;
    font-size: smaller;
    padding: 0px 5px 1px 5px;
    border: 2px solid black;
}

a.botão:hover {
    color:black;
    background-color: var(--cor-terciaria);
}
a.botão-adm {
    color: black;
}

span {
    position: relative;
    top: 5px;
}

.inline-block {
    display: inline-block;
}