@charset "UTF-8";

@import url(table.css);
@import url(cores.css);
@import url(media-query.css);

html, body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    font-family: var(--fonte-principal);
}

body {
    display: flex;
    flex-direction: column;
    color: var(--cor-texto);
    background-color: var(--cor-fundo);
}

header, footer {
    background-color: var(--cor-primaria);
    color: var(--cor-fundo);
    text-align: center;
    padding: 10px 0px;
    width: 100vw;
}

header {
    position: fixed;
    top: 0px;
    z-index: 1;
}

main {
    padding: 2px;
    margin-top: 150px;
}

.mini {
    width: auto;
    height: 100px;
}