@charset "UTF-8";

@import url(cores.css);
@import url(main.css);
@import url(media-query.css);
@import url(table.css);

*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
    font-family: var(--fonte-principal);
}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    color: var(--cor-texto);
    background-color: var(--cor-fundo);
}

header, footer {
    background-color: var(--cor-primaria);
    color: var(--cor-fundo);
    text-align: center;
    padding: 10px;
    width: 100%;
}

header {
    position: sticky;
    top: 0px;
    z-index: 1;
    left: 0px;
}

footer {
    bottom: 0px;
    left: 0px;
    margin-top: auto;
}

.mini {
    width: auto;
    height: 100px;
}

.foto {
    height: 300px;
    margin: auto;
}