@charset "UTF-8";

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main.detalhes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
main.detalhes h2 {
    text-align: center;
}
main.detalhes p {
    text-indent: 10px;
    margin: 10px;
    text-align: justify;
}