@charset "UTF-8";

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main.detalhes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
main.detalhes h2 {
    text-align: center;
}
main.detalhes p {
    text-indent: 10px;
    margin: 10px;
    text-align: justify;
}

main.detalhes button.botao-voltar {
    width: 50px;
    height: 50px;
    cursor: pointer;
    float: left;
    background-color: var(--cor-primaria);
    color: white;
}

main.detalhes button.botao-voltar:hover {
    background-color: var(--cor-secundaria);
}

main .msg {
    color: green;
    font-weight: bold;
    margin-bottom: 15px;
}


