@charset "UTF-8";


@media screen and (min-width:768px) {
    /* Em telas grandes: mostrar sempre o formulário e restaurar layout do header */
    .toggle-btn { display: none; }

    .login-hidden,
    .login-visible { display: block !important; }

    header {
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding: 10px 20px;
    }

    header form,
    header #login-container { margin: 0; width: auto; }

    main { 
        max-width: 80vw;
        margin: 50px auto;
        padding: 20px;
        box-shadow: 0px 0px 30px #777;
    }

    main.detalhes {
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        justify-content: center;
        max-width: 800px;
    }

    form,
    form input[type="text"],
    form input[type="number"],
    form input[type="password"],
    form button[type="submit"],
    form select {
        all: revert;
    }
    
    form { margin-bottom: 10px; }

    form button[type="submit"] {
        background-color: var(--cor-secundaria);
        color: white;
    }

    #login-container form {
        display: grid;
        grid-template-areas: 
        "label-nome usuário"
        "label-senha senha"
        "entrar cadastrar"
        ;

    }

    
    div#user-info {
        display: flex;
        flex-direction: row;
        gap:5px;
    }

    div#user-info-div {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    div#dados {
        display: flex;
        flex-direction: row;
        gap: 15px;
        padding-left: 15px;
    }
}