@charset "UTF-8";


@media screen and (min-width:768px) {
    main { 
        max-width: 80vw;
        margin: 150px auto 50px auto;
        padding: 20px;
        box-shadow: 0px 0px 30px #777;
    }

    main.detalhes {
        display: grid;
        grid-template-columns: auto auto;
        gap: 20px;
        align-items: center;
        justify-content: center;
        max-width: 800px;
    }

}