@charset "UTF-8";

footer {
    color: var(--cor-fundo);
    background-color: var(--cor-primaria);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    margin-top: auto;
    padding: 10px;
    height: 50px;
    width: 100%;

    bottom: 0px;
    left: 0px;
}

footer p {
    margin: 0;
    font-size: 14px;
    line-height: 15px;
}

footer > div.user-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    margin: 0;
    padding: 5px;

    font-size: 14px;
    line-height: 15px;

    border: 1px solid var(--cor-fundo);
    border-radius: 5px;
}


